@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.root {
  display: flex;
  flex-direction: column;
  padding: 0 max(1vw, pxToRem(40px));
  margin-top: pxToRem(20px);
  width: 100%;
}

.title {
  margin: 0;
  align-self: center;

  font-weight: 300;
  font-size: pxToRem(40px);
}

.adress {
  position: relative;
  margin-top: pxToRem(30px);
  padding: pxToRem(5px) 0;
  padding-left: pxToRem(30px);

  text-transform: uppercase;
  font-size: pxToRem(14px);

  &::before {
    content: '';
    position: absolute;
    background-image: url('../../images/location-pin.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 0;
    top: 0;
    height: 100%;
    width: pxToRem(19px);
  }
}
