@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.block {
  background-color: $panel_color;
  padding: pxToRem(25px);
  display: flex;
  justify-content: center;
}

.block_head {
  background-color: $panel_dark_color;
}
